h2{
	text-align: center;
	color: green;
	font-family: 'Trebuchet MS';
}

p{
	text-align: center;
	font-family: 'Trebuchet MS';
}

body{
	background-color: ghostwhite;
}

.my-body{
	text-align: center;
	font-family: 'Trebuchet MS';
	background-color: ghostwhite;
}

.my-name{

}

.my-html{
	
}

.my-css{
	
}

.my-javascript{
	
}

.my-php{
	
}

.my-sql{
	
}

.my-git{
	
}