h2{
	text-align: center;
	color: green;
	font-family: 'Trebuchet MS';
}

p{
	text-align: center;
	font-family: 'Trebuchet MS';
}

body{
	background-color: ghostwhite;
}

.my-body{
	text-align: center;
	font-family: 'Trebuchet MS';
	background-color: ghostwhite;
}

.my-name{
	color: #ff0000;
}

.my-html{
	color: #ffa500;	
}

.my-css{
	color: #ffff00;	
}

.my-javascript{
	color: #008000;
}

.my-php{
	color: #0000ff;
}

.my-sql{
	color: #4b0082;
}

.my-git{
	color: #ee82ee;
}